Source: kactivities-kf5
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Jonathan Riddell <jriddell@ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.14),
               libboost-dev,
               kio-dev (>= 5.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               libkf5dbusaddons-dev (>= 5.0.0),
               libkf5i18n-dev (>= 5.0.0),
               libkf5kjs-dev (>= 5.0.0),
               libkf5service-dev (>= 5.0.0),
               libkf5windowsystem-dev (>= 5.0.0),
               pkg-kde-tools,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/kde/kdelibs/kactivities
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kactivities
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kactivities

Package: libkf5activities-dev
Section: libdevel
Architecture: any
Depends: libkf5activities5 (= ${binary:Version}), qtbase5-dev, ${misc:Depends}
Description: development files for kactivities.
 This library provides functionality for managing Activities.
 .
 Contains development files for kactivities.

Package: libkf5activities5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library to organize the user work in separate activities.
 This library provides functionality for managing Activities.

Package: kactivities
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libkactivities-bin
Description: Runtime to organize the user work in separate activities.
 This library provides functionality for managing Activities.

Package: libkf5activities5-dbg
Architecture: any
Priority: extra
Section: debug
Depends: libkf5activities5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kactivities
 This library provides functionality for managing Activities.
 .
 Contains debug symbols for kactivities.
